/* ------------------------------------------------------------------------------
    Credit Card Form
	Author: Matheus P. Silva
	Author URI: github.com/matheusps
	License: MIT
    Version: 1.0
-------------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
	background-color: #EE9F3F;
	font-family: 'Lato', sans-serif;
}